<body class="d-flex h-100 text-center text-bg">

  <main class="px-3">
    <div class="mx-auto pb-5 mt-5">
    <img src="/Niex_logo.png" alt="Niex logo" width="150"/>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-outline-primary mb-1" aria-current="page" href="/sign_in">Sign In</a>

        <a class="btn btn-outline-primary mb-1" aria-current="page" href="/sign_up">Sign Up</a>

        <a class="btn btn-outline-secondary mb-1" aria-current="page" href="/about">About</a>
    </div>
  </main>
</body>



