<body class="d-flex h-100 text-center text-bg">

  <main class="px-3">
    <div class="mx-auto pb-5 mt-5">
    <a href="/">
    <img src="/Niex_logo.png" alt="Niex logo" width="150"/>
    </a>
    </div>

    <p class="text-start d-grid col-8 mb-3 mx-auto">
        Niex é um sistema web de ponto de vendas (PDV). Desenvolvido no contexto da disciplina <u>Programação Orientada a Objetos para Desenvolvimento de software (POODS)</u> ministrada pelo professor Ausberto S. Castro Vera.  Buscamos aplicar os conceitos da POO em um sistema análogo a sistemas utilizados em supermercados de fato. Buscamos oferecer uma experiência de usuário simples e intuitiva que ao mesmo tempo proponha uma prova de conceito funcional, e demonstre na prática os conceitos vistos em sala. 
        
    </p>
    <div>
        <img src="/logo-uenf.png" alt="Logo UENF" width="150"/>
    </div>
    <p>
    UENF - Universidade Estadual do Norte Fluminente Darcy Ribeiro <br>
    CCT - Centro de Ciência e Tecnologia <br>
    LCMAT - Laboratório de Ciências Matemáticas <br>
    CC - Bacharelado em Ciência da Computação
    </p>
        <img src="/logo-cc.png" alt="Logo CC" width="150"/>

    <p class="text-secondary">
    Desenvolvido por <a href="github.com/dbs-97"> Daniel Brito dos Santos</a> em 2022.
    </p>


  </main>
</body>
